.header{
	box-sizing: border-box;
	border: 1px solid #DCDEDD;
}

#header-links{
	text-decoration: none;
	color: #28282A;
	padding: 10px;
	cursor: pointer;
}

#header-links:hover{
	text-decoration: none;
	color: #028857;
	padding: 10px;
}

#startoff-logo{
	position: absolute;
	left: 50%;
	top: 40px;
	transform: translate(-50%, -50%);
}
#left-nav{
	margin: 30px;
}

#right-nav{
	margin: 30px;
	margin-bottom: 0px;
}

#search-input-revealed{
	display: inline-block;
	border: none;
	box-sizing: border-box;
	border-bottom: 1px solid #09CE78;
	height: 28px;
	width: 300px;
}

#search-input-revealed:focus{
	outline: none;
}

#search-input{
	display: none;
}

#search-submit{
	display: none;
}

#search-button-revealed{
	display: inline-block;
}

$button-color: #028857;
$button-hover: #015738;
$button-click: #013523;

button{
	display: inline-block;
	cursor: pointer;
	font-size: 18px;
	width: 50px;
	// justify-content: center;
	background-color: $button-color;
	color: white;
	border: 1px solid $button-color;
	height: 32px;
}

button:hover{
	background-color: $button-hover;
}

button:active{
	background-color: $button-click;
}