#spinner{
    border: 16px solid lightgray;
    border-top: 16px solid #028857;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    animation: spin 1s linear infinite ; 
}


@keyframes spin{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}