
#banner-image img{
	width: 100%;
	height: 500px;
	object-fit: cover;
	border: 1px solid #DCDEDD;
}

.quote {
	position: absolute;
	top: 300px;
	left: 50%;
	transform: translate(-50%, -50%);
}

.quote h1{
	color: #F7F7F7;
	text-shadow: 1px 1px #282828;
}

.quote p{
	color: #F7F7F7;
	text-shadow: 1px 1px #282828;
	text-align: right;
	font-size: 20px;
	margin-bottom: 20px;
}

#info{
	border-bottom: 1px solid #DCDEDD;
}

#top-details{
	width: 800px;
	margin: 0 auto;
	text-align: center;

}

#top-details h1{
	font-size: 36px;
	margin: 20px;
}

#top-details p{
	font-size: 24px;
	margin: 10px;
	line-height: 1.2;
}