#warning-container{
	width: 100%;
	margin: 0 auto;
	background-color: #F6F2EB;
	height: 150px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 50px;
}

#warnings{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
	max-width: 1500px;
}

#map{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

#horn{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

#chat{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 10px;
}

#warnings img{
	height: 48px;
	width: 48px;
}

#warnings p{
	padding: 10px;
	margin: 0 auto;
	align-items: center;
	margin: 10px;
	max-width: 300px;
	line-height: 1.2;
}