/* line 3, /Users/presleythe3/Desktop/Startoff/app/assets/stylesheets/index.scss */
#projects-index {
  margin-top: 50px;
  display: grid;
  background-color: white;
  grid-template-columns: auto auto auto;
  padding: 10px;
  max-width: 1500px;align-content: center;
}

/* line 12, /Users/presleythe3/Desktop/Startoff/app/assets/stylesheets/index.scss */
#project-div {
  box-sizing: border-box;
  border: 1px solid #DCDEDD;
  background-color: white;
  margin: 20px;
}

/* line 19, /Users/presleythe3/Desktop/Startoff/app/assets/stylesheets/index.scss */
#top-image {
  width: 100%;
  height: 220px;
}

/* line 24, /Users/presleythe3/Desktop/Startoff/app/assets/stylesheets/index.scss */
#top-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
