
#form h3{
	text-align: center;
}

.reward-1{
	border-left-color: #09CE78;
	border-left-width: 7px;
}

.reward-2{
	border-left-color: #CD7F32;
	border-left-width: 7px;
}

.reward-3{
	border-left-color: #C0C0C0;
	border-left-width: 7px;
}

.reward-4{
	border-left-color: #FFD700;
	border-left-width: 7px;
}
