#header-links{
	text-decoration: none;
	color: #28282A;
	padding: 10px;
}

#header-links:hover{
	text-decoration: none;
	color: #028857;
	padding: 10px;
}

#startoff-logo{
	position: absolute;
	left: 50%;
	top: 40px;
	transform: translate(-50%, -50%);
}
#left-nav{
	margin: 30px;
}

#right-nav{
	margin: 30px;
}