#signup-div{
	display: flex;
	justify-content: center;
	margin-top: 75px;
}

#signup-form{
	display: block;
	flex-direction: column;
	padding: 30px;
	margin-bottom: 30vh;
}

#signup-form input{
	border: 1px solid #DCDEDD;
	box-sizing: border-box;
	height: 42px;
	width: 100%;
	font-size:  14px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 10px;
}

#signup-form button{
	width: 100%;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #028857;
	color: white;
	border: 1px solid #028857;
	height: 40px;
	font-size: 14px;
}

#signup-form button:hover{
	background-color: #015738;
	color: white;
	border: 1px solid #028857;
	cursor: pointer;
}

#signup-form button:hover:active{
	background-color: #013523;
	color: white;
	border: 1px solid #028857;
	cursor: pointer;
}

#login-question {
	display: block;
	margin-bottom: 20px;
	text-align: center;
	background-color: #FCFCFC;

}

#signup-question Link:hover{
	color: #015738
}

#confirm-password {
	display: none;
}

#validation p{
	color: red;
	font-weight:500;
}