// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header{
	display: flex;
	justify-content: space-between;
	width: 100vw;
	padding: 0px;
	background-color: white;
}

body{
	height: 100vh;
	width: 100vw;
	background-color: white;
}

img{
	height: 100px;
}

h1{
	font-size: 60px;
	color: #282828;
}

h2{
	font-size: 32px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 20px;
	font-weight: 500;
	color: #282828;
}

h3{
	font-size: 28px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
	font-weight: 400;
}

h4{
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
}

h5{
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
}

form{
	text-decoration-color: #282828;
	width: 400px;
	height: 120%;
	display: flex;
	flex-direction: column;
	background: white;
	border-color: #F1EEEA;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
}

main{
	position: relative;
	min-height: 100vh;
}

.root-div{
	padding-bottom: 2.5rem;
}

footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
}